{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% if  status == 'Locked' %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <img src="{{ MEDIA_URL }}{{ image }}" class="img-fluid" alt="product">
    </div>
    <div class="col-md-6 mx-auto">
        <div class="text-center h4 alert alert-warning" role="alert">This box is locked.</div>
        
        <div class="center">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ name }}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ price }}</td>
                    </tr>
                    <tr>
                        <th>Amount</th>
                        <td>{{ amount }}</td>
                    </tr>
                    <tr>
                        <th>TX Hash</th>
                        <td>{{ tx_hash }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <a href="{% url 'main:menu'%}" type="button" class="btn btn-secondary btn-block">Menu</a>
    </div>
</div>
{% elif  status == 'Unlocked' %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <img src="{% static 'image/unlock.png' %}" class="img-fluid" alt="Unlock">
        </div>
        <div class="col-md-6 mx-auto">
            <div class="text-center h4 alert alert-success" role="alert">Status: Unlocked</div>
            <a href="{% url 'main:lock'%}" type="button" class="btn btn-warning btn-block">Lock the Box</a>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <img src="{% static 'image/unknown.png' %}" class="img-fluid" alt="Lock">
        </div>
        <div class="col-md-6 mx-auto">
            <div class="text-center h4 alert alert-dark" role="alert">Status: Unknown</div>
            <div class="text-center h4 alert alert-light" role="alert">The requested resources are unavailable now.</div>
        </div>
    </div>
{% endif %}

{% endblock %}