{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% if  status == 'Locked' %}
    <div class="row">
        <img src="{% static 'image/lock.png' %}" style="max-width:300px"/>
        <div class="col-md-6 mx-auto">
            <p>locked</p>
            <a href="{% url 'main:unlock'%}" type="button" class="btn btn-primary btn-block">Unlock the Box</a>
        </div>
    </div>
{% elif  status == 'Unlocked' %}
    <div class="row">
        <img src="{% static 'image/unlock.png' %}" style="max-width:300px"/>
        <div class="col-md-6 mx-auto">
            <p>unlocked</p>
            <a href="{% url 'main:lock'%}" type="button" class="btn btn-primary btn-block">Lock the Box</a>
        </div>
    </div>
{% else %}
    <div class="row">
        <img src="{% static 'image/unknown.png' %}" style="max-width:300px"/>
        <div class="col-md-6 mx-auto">
            <p>unknown</p>
            <p> The requested resources are unavailable now. </p>
        </div>
    </div>
{% endif %}

{% endblock %}